html,body{
    padding: 0;
    margin: 0;

}
header{
    background-color: purple;
    height: 60px;
    grid-area: header;
}


nav{
    background-color: rgb(83, 83, 233);
    /*float: left; /*Flota a la izquierda*/
    grid-area: menu; /**/
}
article{
    background-color: rgb(214, 83, 235);
    /*float: left; FLOAT*/ 
    height: 80px;
    grid-area: content;
}

footer{
    /*clear: both limpia la flotabilidad*/
    background-color: rgb(89, 22, 160);
    height: 120px;
    grid-area: footer;
}
#container{
    background-color: orange;
    margin: 0 auto;
    max-width: 800px;
    display: grid; /*cambia el flex por grid*/
    grid-template-areas:
    "header header header header"
    "menu content content content"
    "footer footer footer footer"
    ;
}